<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ping.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <Ping.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value>http://localhost</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>8061</value>
            </setting>
            <setting name="MessageBrokerUri" serializeAs="String">
                <value>http://localhost:9092</value>
            </setting>
            <setting name="MessageBrokerNetwork" serializeAs="String">
                <value>IDGTestTopic</value>
            </setting>
        </Ping.Properties.Settings>
    </applicationSettings>
</configuration>