<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Pong.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Pong.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <!--<system.serviceModel>
    <services>
      <service name="Pong.Controllers.PongController">
        <endpoint binding="webHttpBinding" contract="Pong.Controllers.IPongController"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp  defaultOutgoingResponseFormat="Json"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>-->
  <applicationSettings>
    <Pong.Properties.Settings>
      <setting name="Host" serializeAs="String">
        <value>http://localhost</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>8062</value>
      </setting>
      <setting name="MessageBrokerUri" serializeAs="String">
        <value>http://localhost:9092</value>
      </setting>
      <setting name="MessageBrokerNetwork" serializeAs="String">
        <value>IDGTestTopic</value>
      </setting>
    </Pong.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Pong.Properties.Settings>
      <setting name="SleepTime" serializeAs="String">
        <value>10000</value>
      </setting>
    </Pong.Properties.Settings>
  </userSettings>
</configuration>